@import "../../app.scss";
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
    @include mobile{
       margin-left: 20px;
        transform: none !important;
    }
    .textContainer{
        h1{
            font-size: 60px;
            font-weight: bold;
        }
        .item{
            margin-top: 20px;
        }
    }
    .ImageContainer{
        @include mobile{
            display: none;
        }
    }
    
}